<%- include('../partials/adminHead') -%>
  <main role="main" class="main-content">
    <div class="container mt-5">
      <h2 style="color: #3086d5;">Update Coupon</h2>
      <form id="addCouponForm" action="/admin/updateCoupon" method="post" onsubmit="return validateForm()">
        <div class="form-group">
          <label for="couponCode" class="form-label">Coupon Code:</label>
          <input type="text" class="form-control" id="couponCode" name="couponCode"  value="<%=coupon.couponCode%>" required>
          <span id="couponCodeError" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="couponType" class="form-label">Coupon Type:</label>
          <select class="form-select" id="couponType" name="couponType" value="<%=coupon.type%>" onchange="updateMaxRedeem()"
              required>
              <option value="percentageDiscount">Percentage Discount</option>
              <option value="flatDiscount">Flat Discount</option>
          </select>
        </div>
        <div class="form-group">
          <label for="minimumPrice" class="form-label">Minimum Price:</label>
          <input type="number" class="form-control" id="minimumPrice" name="minimumPrice" value="<%=coupon.minimumPrice%>" required>
          <span id="minimumPriceError" class="text-danger"></span>
      </div>

      <div class="form-group">
          <label for="discount" class="form-label">Discount:</label>
          <input type="number" class="form-control" id="discount" name="discount"
              oninput="updateMaxRedeem()" value="<%=coupon.discount%>"  required>
          <span id="discountError" class="text-danger"></span>
      </div>

      <div class="form-group">
          <label for="maxRedeem" class="form-label">Max Redeemable Amount:</label>
          <input type="number" class="form-control" id="maxRedeem" name="maxRedeem" value="<%=coupon.maxRedeem%>"  required>
          <span id="maxRedeemError" class="text-danger"></span>
      </div>

      <div class="form-group">
          <label for="expiry" class="form-label">Expiry:</label>
          <input type="date" class="form-control" id="expiry" name="expiry"  value="<%= new Date(coupon.expiry).toISOString().slice(0, 10) %>" required>
          <span id="expiryError" class="text-danger"></span>
      </div>
      <input type="hidden" id="couponId" name="couponId" value="<%= coupon._id %>">
        <button type="submit" class="btn btn-primary">Update Coupon</button>
      </form>
    </div>
    <% if(couponExists){%>
      <div style="color: red; font-size: 16px; font-weight: bold;">
          <%= couponExists%>
      </div>
      <%}%>

    </main>
  </div>
  
  

    <script>
      function validateForm() {
          var couponCode = document.getElementById('couponCode').value.trim();
          var minimumPrice = document.getElementById('minimumPrice').value;
          var discount = document.getElementById('discount').value;
          var maxRedeem = document.getElementById('maxRedeem').value;
          var expiry = document.getElementById('expiry').value;

          var couponCodeError = document.getElementById('couponCodeError');
          var minimumPriceError = document.getElementById('minimumPriceError');
          var discountError = document.getElementById('discountError');
          var maxRedeemError = document.getElementById('maxRedeemError');
          var expiryError = document.getElementById('expiryError');

          couponCodeError.innerHTML = '';
          minimumPriceError.innerHTML = '';
          discountError.innerHTML = '';
          maxRedeemError.innerHTML = '';
          expiryError.innerHTML = '';

          if (!/^[a-zA-Z0-9]+$/.test(couponCode)) {
              couponCodeError.innerHTML = 'Coupon code must be alphanumeric without spaces.';
              return false;
          }

          if (isNaN(discount) || parseFloat(discount) <= 0 ) {
              discountError.innerHTML = 'Discount must be a positive number less than or equal to 100.';
              return false;
          }

          if (isNaN(minimumPrice) || parseFloat(minimumPrice) <= 0) {
              minimumPriceError.innerHTML = 'Minimum price must be a positive number.';
              return false;
          }

          if (isNaN(maxRedeem) || parseFloat(maxRedeem) <= 0) {
              maxRedeemError.innerHTML = 'Max redeemable amount must be a positive number.';
              return false;
          }

          return true;
      }

      function updateMaxRedeem() {
          var couponType = document.getElementById("couponType").value;
          var maxRedeemInput = document.getElementById("maxRedeem");
          var discountInput = document.getElementById("discount");

          if (couponType === "flatDiscount") {
              var discountAmount = parseFloat(discountInput.value);
              var minimumPrice = parseFloat(document.getElementById("minimumPrice").value);

              if (discountAmount >= minimumPrice) {
                  discountInput.value = minimumPrice - 1;
              }
              maxRedeemInput.value = parseFloat(discountInput.value);
              maxRedeemInput.readOnly = true;
          } else if (couponType === "percentageDiscount") {
              discountInput.min = 1;
              discountInput.max = 100;
              maxRedeemInput.value = "";
              maxRedeemInput.readOnly = false;
          }
      }
  </script>

    
<%- include('../partials/adminFooter') -%>


