<%- include('../partials/userHeader') -%>


<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="/">Urban Kicks</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="#" class="search-wrap">
			               <div class="form-group">
			                  <input type="search" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
			               </div>
			            </form>
			         </div>
		         </div>
						 <div class="row">
							<div class="col-sm-12 text-left menu-1">
								<ul>
									<li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
									<% categories.forEach(category => { %>
										<li class="<%= currentPage === category.id ? 'active' : '' %>"><a href="/shop/<%= category.id %>"><%= category.name %></a></li>
								<% }); %>
									<li class="<%= currentPage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
									<li class="<%= currentPage === 'contact' ? 'active' : '' %>"><a href="/contact">Contact</a></li>
									<li class="cart <%= currentPage === 'cart' ? 'active' : '' %>"><a href="/cart"><i class="icon-shopping-cart"></i> [0]</a></li>
									<li class="wishlist <%= currentPage === 'wishlist' ? 'active' : '' %>"><a href="/wishlist"><i class="icon-heart2"></i></a></li>
									<li class="user-profile <%= currentPage === 'profile' ? 'active' : '' %>"><a href="/profile"><i class="icon-user2"></i></a></li>
								 
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Add-Address</span></p>
					</div>
				</div>
			</div>
		</div>

<br>
    <div class="container" style="max-width: 800px;">
      <div class="cart-detail" >
      <div class="edit-profile-form"  id="addressForm">
          <!-- <p style="font-weight: 400; color: red; text-align: center;">!! The Address May not be saved if you enter invalid details </p> -->
          <h2 class="mb-3 text-center" style="font-size: 24px; color: #363636;">Add New Address</h2><br>
          <form action="/addressPost" id="addressForm" method="POST">
              <!-- Personal details -->
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="saveas">Save as</label>
                      <select id="saveas" name="saveas" class="form-control" required>
                        <option value="" disabled selected>Save as</option>
                        <option value="home">Home Address</option>
                        <option value="office">Office Address</option>
                        <option value="other">Other Address</option>
                    </select>
                      <span id="saveasError" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="fullname">Full Name</label>
                      <input type="text" id="fullname" name="name" value="<%= user.name %>" class="form-control">
                      <span id="fullnameError" class="text-danger"></span>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" value="<%= user.email %>" class="form-control" readonly>
                      <span id="emailError" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="adname">House Name / Flat No</label>
                      <input type="text" id="adname" name="housename" class="form-control">
                      <span id="adnameError" class="text-danger"></span>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="street">Street</label>
                      <input type="text" id="street" name="street" class="form-control">
                      <span id="streetError" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="pincode">Pincode</label>
                      <input type="number" id="pincode" name="pincode" class="form-control">
                      <span id="pincodeError" class="text-danger"></span>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="city">City</label>
                      <input type="text" id="city" name="city" class="form-control">
                      <span id="cityError" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="state">State</label>
                      <select id="state" name="state" class="form-control" required>
                          <option value="" disabled selected>Select a state</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="TamilNadu">Tamil Nadu</option>
                      </select>
                      <span id="stateError" class="text-danger"></span>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="country">Country</label>
                      <select id="country" name="country" class="form-control" required>
                          <option value="India">India</option>
                      </select>
                      <span id="countryError" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="phone">Phone Number</label>
                      <input type="number" id="mobile" name="mobile" class="form-control">
                      <span id="mobileError" class="text-danger"></span>
                  </div>
              </div><br>
              <div class="form-group text-center">
                  <button id="saveChangesButton" class="btn btn-primary" >Save Address</button>
              </div>
          </form>
      </div>
    </div>
  </div>
  </div>

<br><br>
<script>
    function validateAddress() {
        var errors = '';
        var saveas = document.getElementById('saveas').value.trim();
        var fullname = document.getElementById('fullname').value.trim();
        var email = document.getElementById('email').value.trim();
        var adname = document.getElementById('adname').value.trim();
        var street = document.getElementById('street').value.trim();
        var pincode = document.getElementById('pincode').value.trim();
        var city = document.getElementById('city').value.trim();
        var state = document.getElementById('state').value.trim();
        var country = document.getElementById('country').value.trim();
        var mobile = document.getElementById('mobile').value.trim();

        var saveasError = document.getElementById('saveasError');
        var fullnameError = document.getElementById('fullnameError');
        var emailError = document.getElementById('emailError');
        var adnameError = document.getElementById('adnameError');
        var streetError = document.getElementById('streetError');
        var pincodeError = document.getElementById('pincodeError');
        var cityError = document.getElementById('cityError');
        var stateError = document.getElementById('stateError');
        var countryError = document.getElementById('countryError');
        var mobileError = document.getElementById('mobileError');

        saveasError.innerHTML = '';
        fullnameError.innerHTML = '';
        emailError.innerHTML = '';
        adnameError.innerHTML = '';
        streetError.innerHTML = '';
        pincodeError.innerHTML = '';
        cityError.innerHTML = '';
        stateError.innerHTML = '';
        countryError.innerHTML = '';
        mobileError.innerHTML = '';

        if (!saveas) {
            saveasError.innerHTML = 'Save as is required.';
            errors += 'Save as is required.\n';
        }
        if (!fullname) {
            fullnameError.innerHTML = 'Full name is required.';
            errors += 'Full name is required.\n';
        }
        if (!email) {
            emailError.innerHTML = 'Email is required.';
            errors += 'Email is required.\n';
        } else if (!email.match(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)) {
            emailError.innerHTML = 'Invalid email address.';
            errors += 'Invalid email address.\n';
        }
        if (!adname) {
            adnameError.innerHTML = 'House name/Flat no is required.';
            errors += 'House name/Flat no is required.\n';
        }
        if (!street) {
            streetError.innerHTML = 'Street is required.';
            errors += 'Street is required.\n';
        }
        if (!pincode) {
            pincodeError.innerHTML = 'Pincode is required.';
            errors += 'Pincode is required.\n';
        } else if (!pincode.match(/^\d{6}$/)) {
            pincodeError.innerHTML = 'Invalid pincode.';
            errors += 'Invalid pincode.\n';
        }
        if (!city) {
            cityError.innerHTML = 'City is required.';
            errors += 'City is required.\n';
        }
        if (!state) {
            stateError.innerHTML = 'State is required.';
            errors += 'State is required.\n';
        }
        if (!country) {
            countryError.innerHTML = 'Country is required.';
            errors += 'Country is required.\n';
        }
        if (!mobile) {
            mobileError.innerHTML = 'Mobile number is required.';
            errors += 'Mobile number is required.\n';
        } else if (!mobile.match(/^\d{10}$/)) {
            mobileError.innerHTML = 'Invalid mobile number.';
            errors += 'Invalid mobile number.\n';
        }

        if (errors) {
            // Show errors
            return false; // Return false if there are validation errors
        } else {
            // No errors, submit the form
            return true; // Return true if validation passes
        }
    }

    document.getElementById('saveChangesButton').addEventListener('click', function(event) {
        // Validate form when the button is clicked
        if (!validateAddress()) {
            // If validation fails, prevent form submission
            event.preventDefault();
        }
    });
</script>

<%- include('../partials/userFooter') -%>