<%- include('../partials/userHeader') -%>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="/">Urban Kicks</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<form action="/" id="searchForm" class="search-wrap">
								<div class="form-group">
									 <input type="search" name="search" id="searchInput" class="form-control search"  placeholder="Search" >
									 <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
								</div>
						 </form>
			         </div>
		         </div>
						 <div class="row">
							<div class="col-sm-12 text-left menu-1">
								<ul>
									<li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
									<% categories.forEach(category => { %>
										<li class="<%= currentPage === category.id ? 'active' : '' %>"><a href="/shop/<%= category.id %>"><%= category.name %></a></li>
								<% }); %>
									<li class="<%= currentPage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
									<li class="<%= currentPage === 'contact' ? 'active' : '' %>"><a href="/contact">Contact</a></li>
									<li class="cart <%= currentPage === 'cart' ? 'active' : '' %>"><a href="/cart"><i class="icon-shopping-cart"></i> [0]</a></li>
									<li class="wishlist <%= currentPage === 'wishlist' ? 'active' : '' %>"><a href="/wishlist"><i class="icon-heart2"></i></a></li>
									<li class="user-profile <%= currentPage === 'profile' ? 'active' : '' %>"><a href="/profile"><i class="icon-user2"></i></a></li>
								 
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Purchase Complete</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-10 offset-md-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center active">
								<p><span>02</span></p>
								<h3>Checkout</h3>
							</div>
							<div class="process text-center active">
								<p><span>03</span></p>
								<h3>Order Complete</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 offset-sm-1 text-center">
							<% if(order.payment === "paymentPending") { %>
									<p class="icon-addcart"><span><i class="icon-warning"></i></span></p>
									<h2 class="mb-4 title_confirmation text-danger">Your Order is Pending due to Unfinished Payment.</h2>
							<% } else { %>
									<p class="icon-addcart"><span><i class="icon-check"></i></span></p>
									<h2 class="mb-4 title_confirmation text-success">Thank you for purchasing, Your order is complete !</h2>
							<% } %>
							<p>
									<a href="/profile" class="btn btn-primary btn-outline-primary">Orders</a>
									<a href="/" class="btn btn-primary btn-outline-primary"><i class="icon-shopping-cart"></i> Continue Shopping</a>
							</p>
					</div>
			</div><br><br>
			<div class="row order_d_inner text-black">
				<div class="col-lg-6">
						<div class="details_item text-center">
								<h4>Order Info</h4>
								<ul class="list-unstyled">
										<li>
												<span>Order Id</span>: <%= order.orderId %>
										</li>
										<li>
												<span>Date</span>:
												<%= order.createdAt.toLocaleString('en-US', { year: 'numeric' , month: 'short' , day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>
										</li>
										<li>
												<span>Total</span>: <%= order.amount %>
										</li>
										<li>
												<span>Payment Method</span>: <%= order.payment %>
										</li>
								</ul>
						</div>
				</div>
				<div class="col-lg-6">
						<div class="details_item text-center">
								<h4>Shipping Address</h4>
								<ul class="list-unstyled">
										<li>
												<span>House Name</span>: <%= order.address[0].housename %>
										</li>
										<li>
												<span>Street</span>: <%= order.address[0].street %>
										</li>
										<li>
												<span>City</span>: <%= order.address[0].city %>
										</li>
										<li>
												<span>Country</span>: <%= order.address[0].country %>
										</li>
								</ul>
						</div>
				</div>
		</div><br><br>
		<div class="order_details_table mt-4 text-black">
				<h2>Invoice</h2>
				<div class="table-responsive">
						<table class="table">
								<thead>
										<tr>
												<th scope="col">Product</th>
												<th scope="col">Quantity</th>
												<th scope="col">Total</th>
										</tr>
								</thead>
								<tbody>
										<% order.items.forEach(item=> { %>
										<tr>
												<td><%= item.productId.description %></td>
												<td>x <%= item.quantity %></td>
												<td><%= item.quantity * item.price %></td>
										</tr>
										<% }) %>
										<tr>
												<td colspan="2">
														<h4>Subtotal</h4>
												</td>
												<td style="font-weight: 500;"><%= order.amount %></td>
										</tr>
										<tr>
												<td colspan="2">
														<h4>Total</h4>
												</td>
												<td style="font-weight: 500;"><%= order.amount %></td>
										</tr>
								</tbody>
						</table>
				</div>
		</div>		
			</div>
		</div>

		<%- include('../partials/userFooter') -%>