<%- include('../partials/userHeader') -%>

<style>
  .container1 {
      max-width: 400px;
      margin: auto;
      margin-top: 120px;
      padding: 20px;
      border: 0.5px solid #848383;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
      background: linear-gradient(to right, #afb5f9, #1D2671);
  }
 
 
</style>

<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="/">Urban Kicks</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
              <form action="/" id="searchForm" class="search-wrap">
								<div class="form-group">
									 <input type="search" name="search" id="searchInput" class="form-control search"  placeholder="Search" >
									 <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
								</div>
						 </form>
			         </div>
		         </div>
						 <div class="row">
							<div class="col-sm-12 text-left menu-1">
								<ul>
									<li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
									<% categories.forEach(category => { %>
										<li class="<%= currentPage === category.id ? 'active' : '' %>"><a href="/shop/<%= category.id %>"><%= category.name %></a></li>
								<% }); %>
									<li class="<%= currentPage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
									<li class="<%= currentPage === 'contact' ? 'active' : '' %>"><a href="/contact">Contact</a></li>
									<li class="cart <%= currentPage === 'cart' ? 'active' : '' %>"><a href="/cart"><i class="icon-shopping-cart"></i><% if (itemCount&&itemCount>0) { %>
										<span class="count">[<%= itemCount %>]</span> 
									<% } %></a></li>
									<li class="wishlist <%= currentPage === 'wishlist' ? 'active' : '' %>"><a href="/wishlist"><i class="icon-heart2"></i></a></li>
									<li class="user-profile <%= currentPage === 'profile' ? 'active' : '' %>"><a href="/profile"><i class="icon-user2"></i></a></li>
								 
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Reset password</span></p>
					</div>
				</div>
			</div>
		</div>



<div class="container1">
  <h2 class="text-center mb-4" style="color: white;">Change Password</h2>
  <form action="/passwordUpdate" class="text-center" method="post" onsubmit="return validatePassword()&& confirmPassword()">
    <div class="form-group row">
      <label for="currentPassword" style=" color: white; font-weight: 500;">Current Password:</label>
      <div class="col-sm-12">
          <input type="password" style="font-weight: bold;"  class="form-control" id="currentPassword" name="pass" required>
          <% if(pass && pass.length > 0){ %>
              <div style="color: red; font-size: 16px; font-weight: bold;">
                  <%= pass %>
              </div>
          <% } %>
      </div>
  </div>
  <div class="form-group row">
      <label for="newPassword" style=" color: white; font-weight: 500;">New Password:</label>
      <div class="col-sm-12">
          <input type="password" style="font-weight: bold;"  class="form-control" id="password" name="npass" onkeyup="validatePassword()" required>
          <span style="color: white; font-weight: 500;" id="passwordError"></span>
      </div>
  </div>
  <div class="form-group row">
      <label for="confirmPassword" style=" color: white; font-weight: 500;">Confirm Password:</label>
      <div class="col-sm-12">
        <input type="password" style="font-weight: bold;" class="form-control" id="confirm-password" name="cpass" onkeyup="confirmPassword()"
        required>
          <span style="color: white; font-weight: 500;" id="confirmPasswordError"></span>
      </div>
  </div>

      <button type="submit" id="verifybtn" class="btn-dark text-center mt-3 mb-2 w-50">update</button>
     
  </form>
  
</div>
<br><br>

<script>
function validatePassword() {
  var passwordError = document.getElementById('passwordError');
  var password = document.getElementById('password').value;

  if (!password.match(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()-_+=<>?])[A-Za-z\d\S]{8,}$/)) {
      passwordError.innerHTML = 'Password must be atleast 8 characters with atleast one letter, one digit and one special character!'
      return false;
  } else {
      passwordError.innerHTML = '';
      return true;
  }
}

function confirmPassword() {
  console.log('confirmPassword function called');
  var password = document.getElementById('password').value;
  var confirmPassword = document.getElementById('confirm-password').value;
  var passwordError = document.getElementById('confirmPasswordError');

  if (password !== confirmPassword) {
      passwordError.innerHTML = 'Password do not match!';
      return false;
  } else {
      passwordError.innerHTML = '';
      return true;
  }
}

</script>
<%- include('../partials/userFooter') -%>